body {
    background: black;
    color: #A2A3A3;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

:root {
    --bg: #E0E5EC;
    --light: #FFFFFF;
    --shadow: #A3B1C6;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0% 2.5% 0%;
}

.hero-container > h2 {
    font-size: x-large;
    text-transform: capitalize;
    margin: 0;
}

.hero-container > h1 {
    font-size: 90px;
    text-transform: capitalize;
    margin: 0;
    font-weight: bolder;
    color: white;
}

.hero-container > h3 {
    font-size: large;
    text-transform: capitalize;
    font-weight: 400;
}

.hero-container > h3 > span {
    color: #00B4D8;
    text-decoration: underline;
}

.hero > img {
    width: 200px;
    opacity: 1;
    z-index: 1;
    margin-top: 15px;
}

.cta {
    font-size: x-large;
    background-color: #00B4D8;
    border: none;
    border-radius: 1em;
    padding: 10px 30px;
    margin: 40px 0px 0px 0px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}

.cta:hover {
    color: #00B4D8;
    background: #e0f4f8;
    box-shadow: 0px 1px 2em 0.1em rgba(255, 255, 255, 0.628);
    transform: translateY(-5%);
}

.second {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 30% 70%;
}

.second-container {
    width: 100vw;
}

.wave {
    width: 100%;
    position: relative;
}

.wave > img {
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.glassmorphism {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(to bottom, #008da9, #1eb5d3, var(--bg));
    display: flex;
    justify-content: center;
}

.window {
    width: 1200px;
    height: 650px;
    margin-top: 2%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.725em;
    box-shadow: 0px 0px 1em #025565b9, inset 0px 0px 1em 0.125em rgba(255, 255, 255, 0.386);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-color: black;
}

.window::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(asset/wallpaper4.jpeg);
    background-size: 110%;
    background-position: center;
    opacity: 0.825;
    z-index: -1;
    box-shadow: inset 0px 0px 0.5em 0.05em white;
}

.glassmorphism > .window > nav {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.window > nav > img {
    width: 70px;
    height: fit-content;
    margin-left: 10%;
}

.window > nav > ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 7.5%;
}

.window > nav > ul > p {
    color: white;
    padding: 0.5em 1.5em;
    font-weight: 500;
}

.window > nav > ul > p:nth-child(1) {
    background: rgba(141, 117, 187, 0.306);
    border-radius: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.448);
    backdrop-filter: blur(0.115em);
    box-shadow: inset 0px 0px 1em 0.01em rgba(255, 255, 255, 0.377);
}

.window-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.window-container > .text {
    margin-left: 10%;
}

.window-container > .text > h1, .window-container > .text > h3 {
    color: white;
    text-transform: capitalize;
}

.window-container > .text > h1 {
    font-size: 2.5rem;
    font-weight: 550;
    margin-bottom: 0;
}

.window-container > .text > h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.mockupbtn {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.155);
    border: 1px solid rgba(255, 255, 255, 0.295);
    border-radius: 2rem;
    padding: 0.5em 1em;
    backdrop-filter: blur(0.045em);
    margin-bottom: 35%;
}

.window-container > .glass {
    width: 45%;
    height: 80%;
    background: rgba(255, 255, 255, 0.155);
    margin-left: 7%;
    margin-bottom: 5%;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(0.225em);
    display: grid;
    grid-template-columns: 50% 50%;
}

.glass > .glass-right {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.295);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass-left > img {
    width: 150px;
}

.glass-left > .product-info {
    width: 90%;
    height: 80%;
    background: rgba(255, 255, 255, 0.255);
    border-radius: 0.8em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.glass-left > .product-info > h2 {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-top: 17px;
}

.glass-left > .product-info > h3 {
    font-size: 0.75rem;
    color: white;
    font-weight: 400;
    text-align: left;
    margin: 2.5% 20px;
}

.glass-right > .color {
    width: 90%;
    height: 15%;
    background: rgba(255, 255, 255, 0.255);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.glass-right > .color > div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* background: #008da9; */
}

.color .black {
    background: black;
    border: 3px solid #5cd2ea;
}

.color .white {
    background: white;
}

.color .red {
    background: rgb(211, 57, 90);
}

.color .star {
    background: linear-gradient(to right, purple, rgb(39, 39, 169));
}

.size {
    display: grid;
    width: 90%;
    height: 14%;
    background: rgba(255, 255, 255, 0.255);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.size > p {
    justify-self: center;
    align-self: center;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.295);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size > p:nth-child(2) {
    color: black;
    font-weight: 600;
}

.glass-right .amount {
    display: grid;
    width: 90%;
    height: 14%;
    background: rgba(255, 255, 255, 0.255);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.amount > div {
    border: 0.5px solid rgba(255, 255, 255, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.amount > .add {
    font-size: x-large;
}

.amount > .num {
    font-size: 1.1rem;
}

.total {
    display: grid;
    width: 90%;
    height: 14%;
    background: rgba(255, 255, 255, 0.255);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-top: 20px;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}

.total > p:first-child {
    border: 1px solid rgba(255, 255, 255, 0.295);
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.total > p:nth-child(2) {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 10%;
}

.payment {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 90%;
    height: 14%;
    background: rgba(255, 255, 255, 0.255);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-top: 20px;
    overflow: hidden;
}

.third {
    width: 100vw;
    /* height: 100vh; */
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.neomorphism {
    width: 1200px;
    height: 650px;
    box-shadow: 15px 15px 15px 0 var(--shadow), -15px -15px 15px 0px var(--light);
    background: var(--bg);
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    margin: 15% 0;
}

.neomorphism > .player > .music-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.music-name > h1 {
    margin-bottom: 0;
    font-size: xx-large;
    color: #00B4D8;
}

.music-name > h3 {
    margin-top: 10px;
    font-size: medium;
}

.neomorphism > .player > .music-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-btn > div {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: var(--bg);
    box-shadow: 6px 6px 10px 0px var(--shadow), -4px -4px 10px 0px var(--light);
    margin: 70px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.music-btn > div:nth-child(1), .music-btn > div:nth-child(3) {
    width: 125px;
    height: 125px;
}

.neomorphism > .player > .line {
    width: 160px;
    height: 5px;
    background: var(--bg);
    box-shadow: 3px 3px 5px 0 var(--shadow), -3px -3px 5px 0 var(--light);
    margin-top: auto;
    margin-bottom: 40px;
}

.neomorphism > .player > .music-btn > .clicked {
    box-shadow: inset 6px 6px 10px 0px var(--shadow), inset -4px -4px 10px 0px var(--light);
}

.clicked > #playpause {
    transform: translateX(-0.7%);
}

.music-btn > .previous > img {
    width: 70px;
}

.music-btn > .play > img {
    width: 120px;
    transform: translateX(6%);
    transition: all 0.2s ease;
}

.music-btn > .next > img {
    width: 70px;
}

.music-btn > div > img {
    opacity: 0.2;
}

.neomorphism > .player > .timeline {
    width: 80%;
    height: 10px;
    background: var(--bg);
    box-shadow: 5px 5px 8px 0 var(--shadow), -5px -5px 8px 0 var(--light);
    border-radius: 1em;
}

.timeline > .current-time {
    height: 100%;
    width: 0;
    background: #00b4d887;
    border-radius: 1em;
    animation: time 56s steps(56);
    animation-play-state: paused;
}

@keyframes time {
    100% {
        width: 100%;
    }
}

.time {
    display: flex;
    justify-content: space-between;
}

.player {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.songs {
    border-radius: 1em;
    align-self: center;
    width: 30%;
    height: 90%;
    background: var(--bg);
    box-shadow: inset 8px 8px 10px 0 var(--shadow), inset -8px -8px 15px 0 var(--light);
    display: grid;
    grid-template-rows: repeat(10, 10%);
    justify-content: center;
    align-items: center;
}

.songs > div {
    border-top: 1px solid #A2A3A3;
    height: 100%;
    display: flex;
    align-items: center;
}

.songs > div:nth-child(1) {
    border-top: none;
    color: #00B4D8;
    font-weight: bolder;
}








